<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width">
  <title>Tuto WebSocket avec Socket.io et NodeJS par PracticalProgramming.fr</title>
  <link rel="stylesheet" type="text/css" href="default.css">
</head>

<body>
<h1>Complet</h1>
<div class="grille">
  <div class="secteur">
    <div class="case"><div class="contenue_case" id='0'></div></div>
    <div class="case"><div class="contenue_case" id='1'></div></div>
    <div class="case"><div class="contenue_case" id='2'></div></div>
    <div class="case"><div class="contenue_case" id='9'></div></div>
    <div class="case"><div class="contenue_case" id='10'></div></div>
    <div class="case"><div class="contenue_case" id='11'></div></div>
    <div class="case"><div class="contenue_case" id='18'></div></div>
    <div class="case"><div class="contenue_case" id='19'></div></div>
    <div class="case"><div class="contenue_case" id='20'></div></div>
  </div>
  <div class="secteur">
    <div class="case"><div class="contenue_case" id='3'></div></div>
    <div class="case"><div class="contenue_case" id='4'></div></div>
    <div class="case"><div class="contenue_case" id='5'></div></div>
    <div class="case"><div class="contenue_case" id='12'></div></div>
    <div class="case"><div class="contenue_case" id='13'></div></div>
    <div class="case"><div class="contenue_case" id='14'></div></div>
    <div class="case"><div class="contenue_case" id='21'></div></div>
    <div class="case"><div class="contenue_case" id='22'></div></div>
    <div class="case"><div class="contenue_case" id='23'></div></div>
  </div>
  <div class="secteur">
    <div class="case"><div class="contenue_case" id='6'></div></div>
    <div class="case"><div class="contenue_case" id='7'></div></div>
    <div class="case"><div class="contenue_case" id='8'></div></div>
    <div class="case"><div class="contenue_case" id='15'></div></div>
    <div class="case"><div class="contenue_case" id='16'></div></div>
    <div class="case"><div class="contenue_case" id='17'></div></div>
    <div class="case"><div class="contenue_case" id='24'></div></div>
    <div class="case"><div class="contenue_case" id='25'></div></div>
    <div class="case"><div class="contenue_case" id='26'></div></div>
  </div>

  <div class="secteur">
    <div class="case"><div class="contenue_case" id='27'></div></div>
    <div class="case"><div class="contenue_case" id='28'></div></div>
    <div class="case"><div class="contenue_case" id='29'></div></div>
    <div class="case"><div class="contenue_case" id='36'></div></div>
    <div class="case"><div class="contenue_case" id='37'></div></div>
    <div class="case"><div class="contenue_case" id='38'></div></div>
    <div class="case"><div class="contenue_case" id='45'></div></div>
    <div class="case"><div class="contenue_case" id='46'></div></div>
    <div class="case"><div class="contenue_case" id='47'></div></div>
  </div>
  <div class="secteur">
    <div class="case"><div class="contenue_case" id='30'></div></div>
    <div class="case"><div class="contenue_case" id='31'></div></div>
    <div class="case"><div class="contenue_case" id='32'></div></div>
    <div class="case"><div class="contenue_case" id='39'></div></div>
    <div class="case"><div class="contenue_case" id='40'></div></div>
    <div class="case"><div class="contenue_case" id='41'></div></div>
    <div class="case"><div class="contenue_case" id='48'></div></div>
    <div class="case"><div class="contenue_case" id='49'></div></div>
    <div class="case"><div class="contenue_case" id='50'></div></div>
  </div>
  <div class="secteur">
    <div class="case"><div class="contenue_case" id='33'></div></div>
    <div class="case"><div class="contenue_case" id='34'></div></div>
    <div class="case"><div class="contenue_case" id='35'></div></div>
    <div class="case"><div class="contenue_case" id='42'></div></div>
    <div class="case"><div class="contenue_case" id='43'></div></div>
    <div class="case"><div class="contenue_case" id='44'></div></div>
    <div class="case"><div class="contenue_case" id='51'></div></div>
    <div class="case"><div class="contenue_case" id='52'></div></div>
    <div class="case"><div class="contenue_case" id='53'></div></div>
  </div>

  <div class="secteur">
    <div class="case"><div class="contenue_case" id='54'></div></div>
    <div class="case"><div class="contenue_case" id='55'></div></div>
    <div class="case"><div class="contenue_case" id='56'></div></div>
    <div class="case"><div class="contenue_case" id='63'></div></div>
    <div class="case"><div class="contenue_case" id='64'></div></div>
    <div class="case"><div class="contenue_case" id='65'></div></div>
    <div class="case"><div class="contenue_case" id='72'></div></div>
    <div class="case"><div class="contenue_case" id='73'></div></div>
    <div class="case"><div class="contenue_case" id='74'></div></div>
  </div>
  <div class="secteur">
    <div class="case"><div class="contenue_case" id='57'></div></div>
    <div class="case"><div class="contenue_case" id='58'></div></div>
    <div class="case"><div class="contenue_case" id='59'></div></div>
    <div class="case"><div class="contenue_case" id='66'></div></div>
    <div class="case"><div class="contenue_case" id='67'></div></div>
    <div class="case"><div class="contenue_case" id='68'></div></div>
    <div class="case"><div class="contenue_case" id='75'></div></div>
    <div class="case"><div class="contenue_case" id='76'></div></div>
    <div class="case"><div class="contenue_case" id='77'></div></div>
  </div>
  <div class="secteur">
    <div class="case"><div class="contenue_case" id='60'></div></div>
    <div class="case"><div class="contenue_case" id='61'></div></div>
    <div class="case"><div class="contenue_case" id='62'></div></div>
    <div class="case"><div class="contenue_case" id='69'></div></div>
    <div class="case"><div class="contenue_case" id='70'></div></div>
    <div class="case"><div class="contenue_case" id='71'></div></div>
    <div class="case"><div class="contenue_case" id='78'></div></div>
    <div class="case"><div class="contenue_case" id='79'></div></div>
    <div class="case"><div class="contenue_case" id='80'></div></div>
  </div>
</div>
<h1>Avec trou</h1>
<div class="grille">
  <div class="secteur">
    <div class="case"><div class="contenue_case" id='avec_blanc_0'></div></div>
    <div class="case"><div class="contenue_case" id='avec_blanc_1'></div></div>
    <div class="case"><div class="contenue_case" id='avec_blanc_2'></div></div>
    <div class="case"><div class="contenue_case" id='avec_blanc_9'></div></div>
    <div class="case"><div class="contenue_case" id='avec_blanc_10'></div></div>
    <div class="case"><div class="contenue_case" id='avec_blanc_11'></div></div>
    <div class="case"><div class="contenue_case" id='avec_blanc_18'></div></div>
    <div class="case"><div class="contenue_case" id='avec_blanc_19'></div></div>
    <div class="case"><div class="contenue_case" id='avec_blanc_20'></div></div>
  </div>
  <div class="secteur">
    <div class="case"><div class="contenue_case" id='avec_blanc_3'></div></div>
    <div class="case"><div class="contenue_case" id='avec_blanc_4'></div></div>
    <div class="case"><div class="contenue_case" id='avec_blanc_5'></div></div>
    <div class="case"><div class="contenue_case" id='avec_blanc_12'></div></div>
    <div class="case"><div class="contenue_case" id='avec_blanc_13'></div></div>
    <div class="case"><div class="contenue_case" id='avec_blanc_14'></div></div>
    <div class="case"><div class="contenue_case" id='avec_blanc_21'></div></div>
    <div class="case"><div class="contenue_case" id='avec_blanc_22'></div></div>
    <div class="case"><div class="contenue_case" id='avec_blanc_23'></div></div>
  </div>
  <div class="secteur">
    <div class="case"><div class="contenue_case" id='avec_blanc_6'></div></div>
    <div class="case"><div class="contenue_case" id='avec_blanc_7'></div></div>
    <div class="case"><div class="contenue_case" id='avec_blanc_8'></div></div>
    <div class="case"><div class="contenue_case" id='avec_blanc_15'></div></div>
    <div class="case"><div class="contenue_case" id='avec_blanc_16'></div></div>
    <div class="case"><div class="contenue_case" id='avec_blanc_17'></div></div>
    <div class="case"><div class="contenue_case" id='avec_blanc_24'></div></div>
    <div class="case"><div class="contenue_case" id='avec_blanc_25'></div></div>
    <div class="case"><div class="contenue_case" id='avec_blanc_26'></div></div>
  </div>


  <div class="secteur">
    <div class="case"><div class="contenue_case" id='avec_blanc_27'></div></div>
    <div class="case"><div class="contenue_case" id='avec_blanc_28'></div></div>
    <div class="case"><div class="contenue_case" id='avec_blanc_29'></div></div>
    <div class="case"><div class="contenue_case" id='avec_blanc_36'></div></div>
    <div class="case"><div class="contenue_case" id='avec_blanc_37'></div></div>
    <div class="case"><div class="contenue_case" id='avec_blanc_38'></div></div>
    <div class="case"><div class="contenue_case" id='avec_blanc_45'></div></div>
    <div class="case"><div class="contenue_case" id='avec_blanc_46'></div></div>
    <div class="case"><div class="contenue_case" id='avec_blanc_47'></div></div>
  </div>
  <div class="secteur">
    <div class="case"><div class="contenue_case" id='avec_blanc_30'></div></div>
    <div class="case"><div class="contenue_case" id='avec_blanc_31'></div></div>
    <div class="case"><div class="contenue_case" id='avec_blanc_32'></div></div>
    <div class="case"><div class="contenue_case" id='avec_blanc_39'></div></div>
    <div class="case"><div class="contenue_case" id='avec_blanc_40'></div></div>
    <div class="case"><div class="contenue_case" id='avec_blanc_41'></div></div>
    <div class="case"><div class="contenue_case" id='avec_blanc_48'></div></div>
    <div class="case"><div class="contenue_case" id='avec_blanc_49'></div></div>
    <div class="case"><div class="contenue_case" id='avec_blanc_50'></div></div>
  </div>
  <div class="secteur">
    <div class="case"><div class="contenue_case" id='avec_blanc_33'></div></div>
    <div class="case"><div class="contenue_case" id='avec_blanc_34'></div></div>
    <div class="case"><div class="contenue_case" id='avec_blanc_35'></div></div>
    <div class="case"><div class="contenue_case" id='avec_blanc_42'></div></div>
    <div class="case"><div class="contenue_case" id='avec_blanc_43'></div></div>
    <div class="case"><div class="contenue_case" id='avec_blanc_44'></div></div>
    <div class="case"><div class="contenue_case" id='avec_blanc_51'></div></div>
    <div class="case"><div class="contenue_case" id='avec_blanc_52'></div></div>
    <div class="case"><div class="contenue_case" id='avec_blanc_53'></div></div>
  </div>


  <div class="secteur">
    <div class="case"><div class="contenue_case" id='avec_blanc_54'></div></div>
    <div class="case"><div class="contenue_case" id='avec_blanc_55'></div></div>
    <div class="case"><div class="contenue_case" id='avec_blanc_56'></div></div>
    <div class="case"><div class="contenue_case" id='avec_blanc_63'></div></div>
    <div class="case"><div class="contenue_case" id='avec_blanc_64'></div></div>
    <div class="case"><div class="contenue_case" id='avec_blanc_65'></div></div>
    <div class="case"><div class="contenue_case" id='avec_blanc_72'></div></div>
    <div class="case"><div class="contenue_case" id='avec_blanc_73'></div></div>
    <div class="case"><div class="contenue_case" id='avec_blanc_74'></div></div>
  </div>
  <div class="secteur">
    <div class="case"><div class="contenue_case" id='avec_blanc_57'></div></div>
    <div class="case"><div class="contenue_case" id='avec_blanc_58'></div></div>
    <div class="case"><div class="contenue_case" id='avec_blanc_59'></div></div>
    <div class="case"><div class="contenue_case" id='avec_blanc_66'></div></div>
    <div class="case"><div class="contenue_case" id='avec_blanc_67'></div></div>
    <div class="case"><div class="contenue_case" id='avec_blanc_68'></div></div>
    <div class="case"><div class="contenue_case" id='avec_blanc_75'></div></div>
    <div class="case"><div class="contenue_case" id='avec_blanc_76'></div></div>
    <div class="case"><div class="contenue_case" id='avec_blanc_77'></div></div>
  </div>
  <div class="secteur">
    <div class="case"><div class="contenue_case" id='avec_blanc_60'></div></div>
    <div class="case"><div class="contenue_case" id='avec_blanc_61'></div></div>
    <div class="case"><div class="contenue_case" id='avec_blanc_62'></div></div>
    <div class="case"><div class="contenue_case" id='avec_blanc_69'></div></div>
    <div class="case"><div class="contenue_case" id='avec_blanc_70'></div></div>
    <div class="case"><div class="contenue_case" id='avec_blanc_71'></div></div>
    <div class="case"><div class="contenue_case" id='avec_blanc_78'></div></div>
    <div class="case"><div class="contenue_case" id='avec_blanc_79'></div></div>
    <div class="case"><div class="contenue_case" id='avec_blanc_80'></div></div>
  </div>
</div>

<h1>Avec trou p1</h1>
<div class="grille">
  <div class="secteur">
    <div class="case"><div class="contenue_case" id='avec_blanc_p1_0'></div></div>
    <div class="case"><div class="contenue_case" id='avec_blanc_p1_1'></div></div>
    <div class="case"><div class="contenue_case" id='avec_blanc_p1_2'></div></div>
    <div class="case"><div class="contenue_case" id='avec_blanc_p1_9'></div></div>
    <div class="case"><div class="contenue_case" id='avec_blanc_p1_10'></div></div>
    <div class="case"><div class="contenue_case" id='avec_blanc_p1_11'></div></div>
    <div class="case"><div class="contenue_case" id='avec_blanc_p1_18'></div></div>
    <div class="case"><div class="contenue_case" id='avec_blanc_p1_19'></div></div>
    <div class="case"><div class="contenue_case" id='avec_blanc_p1_20'></div></div>
  </div>
  <div class="secteur">
    <div class="case"><div class="contenue_case" id='avec_blanc_p1_3'></div></div>
    <div class="case"><div class="contenue_case" id='avec_blanc_p1_4'></div></div>
    <div class="case"><div class="contenue_case" id='avec_blanc_p1_5'></div></div>
    <div class="case"><div class="contenue_case" id='avec_blanc_p1_12'></div></div>
    <div class="case"><div class="contenue_case" id='avec_blanc_p1_13'></div></div>
    <div class="case"><div class="contenue_case" id='avec_blanc_p1_14'></div></div>
    <div class="case"><div class="contenue_case" id='avec_blanc_p1_21'></div></div>
    <div class="case"><div class="contenue_case" id='avec_blanc_p1_22'></div></div>
    <div class="case"><div class="contenue_case" id='avec_blanc_p1_23'></div></div>
  </div>
  <div class="secteur">
    <div class="case"><div class="contenue_case" id='avec_blanc_p1_6'></div></div>
    <div class="case"><div class="contenue_case" id='avec_blanc_p1_7'></div></div>
    <div class="case"><div class="contenue_case" id='avec_blanc_p1_8'></div></div>
    <div class="case"><div class="contenue_case" id='avec_blanc_p1_15'></div></div>
    <div class="case"><div class="contenue_case" id='avec_blanc_p1_16'></div></div>
    <div class="case"><div class="contenue_case" id='avec_blanc_p1_17'></div></div>
    <div class="case"><div class="contenue_case" id='avec_blanc_p1_24'></div></div>
    <div class="case"><div class="contenue_case" id='avec_blanc_p1_25'></div></div>
    <div class="case"><div class="contenue_case" id='avec_blanc_p1_26'></div></div>
  </div>

  <div class="secteur">
    <div class="case"><div class="contenue_case" id='avec_blanc_p1_27'></div></div>
    <div class="case"><div class="contenue_case" id='avec_blanc_p1_28'></div></div>
    <div class="case"><div class="contenue_case" id='avec_blanc_p1_29'></div></div>
    <div class="case"><div class="contenue_case" id='avec_blanc_p1_36'></div></div>
    <div class="case"><div class="contenue_case" id='avec_blanc_p1_37'></div></div>
    <div class="case"><div class="contenue_case" id='avec_blanc_p1_38'></div></div>
    <div class="case"><div class="contenue_case" id='avec_blanc_p1_45'></div></div>
    <div class="case"><div class="contenue_case" id='avec_blanc_p1_46'></div></div>
    <div class="case"><div class="contenue_case" id='avec_blanc_p1_47'></div></div>
  </div>
  <div class="secteur">
    <div class="case"><div class="contenue_case" id='avec_blanc_p1_30'></div></div>
    <div class="case"><div class="contenue_case" id='avec_blanc_p1_31'></div></div>
    <div class="case"><div class="contenue_case" id='avec_blanc_p1_32'></div></div>
    <div class="case"><div class="contenue_case" id='avec_blanc_p1_39'></div></div>
    <div class="case"><div class="contenue_case" id='avec_blanc_p1_40'></div></div>
    <div class="case"><div class="contenue_case" id='avec_blanc_p1_41'></div></div>
    <div class="case"><div class="contenue_case" id='avec_blanc_p1_48'></div></div>
    <div class="case"><div class="contenue_case" id='avec_blanc_p1_49'></div></div>
    <div class="case"><div class="contenue_case" id='avec_blanc_p1_50'></div></div>
  </div>
  <div class="secteur">
    <div class="case"><div class="contenue_case" id='avec_blanc_p1_33'></div></div>
    <div class="case"><div class="contenue_case" id='avec_blanc_p1_34'></div></div>
    <div class="case"><div class="contenue_case" id='avec_blanc_p1_35'></div></div>
    <div class="case"><div class="contenue_case" id='avec_blanc_p1_42'></div></div>
    <div class="case"><div class="contenue_case" id='avec_blanc_p1_43'></div></div>
    <div class="case"><div class="contenue_case" id='avec_blanc_p1_44'></div></div>
    <div class="case"><div class="contenue_case" id='avec_blanc_p1_51'></div></div>
    <div class="case"><div class="contenue_case" id='avec_blanc_p1_52'></div></div>
    <div class="case"><div class="contenue_case" id='avec_blanc_p1_53'></div></div>
  </div>

  <div class="secteur">
    <div class="case"><div class="contenue_case" id='avec_blanc_p1_54'></div></div>
    <div class="case"><div class="contenue_case" id='avec_blanc_p1_55'></div></div>
    <div class="case"><div class="contenue_case" id='avec_blanc_p1_56'></div></div>
    <div class="case"><div class="contenue_case" id='avec_blanc_p1_63'></div></div>
    <div class="case"><div class="contenue_case" id='avec_blanc_p1_64'></div></div>
    <div class="case"><div class="contenue_case" id='avec_blanc_p1_65'></div></div>
    <div class="case"><div class="contenue_case" id='avec_blanc_p1_72'></div></div>
    <div class="case"><div class="contenue_case" id='avec_blanc_p1_73'></div></div>
    <div class="case"><div class="contenue_case" id='avec_blanc_p1_74'></div></div>
  </div>
  <div class="secteur">
    <div class="case"><div class="contenue_case" id='avec_blanc_p1_57'></div></div>
    <div class="case"><div class="contenue_case" id='avec_blanc_p1_58'></div></div>
    <div class="case"><div class="contenue_case" id='avec_blanc_p1_59'></div></div>
    <div class="case"><div class="contenue_case" id='avec_blanc_p1_66'></div></div>
    <div class="case"><div class="contenue_case" id='avec_blanc_p1_67'></div></div>
    <div class="case"><div class="contenue_case" id='avec_blanc_p1_68'></div></div>
    <div class="case"><div class="contenue_case" id='avec_blanc_p1_75'></div></div>
    <div class="case"><div class="contenue_case" id='avec_blanc_p1_76'></div></div>
    <div class="case"><div class="contenue_case" id='avec_blanc_p1_77'></div></div>
  </div>
  <div class="secteur">
    <div class="case"><div class="contenue_case" id='avec_blanc_p1_60'></div></div>
    <div class="case"><div class="contenue_case" id='avec_blanc_p1_61'></div></div>
    <div class="case"><div class="contenue_case" id='avec_blanc_p1_62'></div></div>
    <div class="case"><div class="contenue_case" id='avec_blanc_p1_69'></div></div>
    <div class="case"><div class="contenue_case" id='avec_blanc_p1_70'></div></div>
    <div class="case"><div class="contenue_case" id='avec_blanc_p1_71'></div></div>
    <div class="case"><div class="contenue_case" id='avec_blanc_p1_78'></div></div>
    <div class="case"><div class="contenue_case" id='avec_blanc_p1_79'></div></div>
    <div class="case"><div class="contenue_case" id='avec_blanc_p1_80'></div></div>
  </div>
</div>


<h1>Avec trou p2</h1>
<div class="grille">
  <div class="secteur">
    <div class="case"><div class="contenue_case" id='avec_blanc_p2_0'></div></div>
    <div class="case"><div class="contenue_case" id='avec_blanc_p2_1'></div></div>
    <div class="case"><div class="contenue_case" id='avec_blanc_p2_2'></div></div>
    <div class="case"><div class="contenue_case" id='avec_blanc_p2_9'></div></div>
    <div class="case"><div class="contenue_case" id='avec_blanc_p2_10'></div></div>
    <div class="case"><div class="contenue_case" id='avec_blanc_p2_11'></div></div>
    <div class="case"><div class="contenue_case" id='avec_blanc_p2_18'></div></div>
    <div class="case"><div class="contenue_case" id='avec_blanc_p2_19'></div></div>
    <div class="case"><div class="contenue_case" id='avec_blanc_p2_20'></div></div>
  </div>
  <div class="secteur">
    <div class="case"><div class="contenue_case" id='avec_blanc_p2_3'></div></div>
    <div class="case"><div class="contenue_case" id='avec_blanc_p2_4'></div></div>
    <div class="case"><div class="contenue_case" id='avec_blanc_p2_5'></div></div>
    <div class="case"><div class="contenue_case" id='avec_blanc_p2_12'></div></div>
    <div class="case"><div class="contenue_case" id='avec_blanc_p2_13'></div></div>
    <div class="case"><div class="contenue_case" id='avec_blanc_p2_14'></div></div>
    <div class="case"><div class="contenue_case" id='avec_blanc_p2_21'></div></div>
    <div class="case"><div class="contenue_case" id='avec_blanc_p2_22'></div></div>
    <div class="case"><div class="contenue_case" id='avec_blanc_p2_23'></div></div>
  </div>
  <div class="secteur">
    <div class="case"><div class="contenue_case" id='avec_blanc_p2_6'></div></div>
    <div class="case"><div class="contenue_case" id='avec_blanc_p2_7'></div></div>
    <div class="case"><div class="contenue_case" id='avec_blanc_p2_8'></div></div>
    <div class="case"><div class="contenue_case" id='avec_blanc_p2_15'></div></div>
    <div class="case"><div class="contenue_case" id='avec_blanc_p2_16'></div></div>
    <div class="case"><div class="contenue_case" id='avec_blanc_p2_17'></div></div>
    <div class="case"><div class="contenue_case" id='avec_blanc_p2_24'></div></div>
    <div class="case"><div class="contenue_case" id='avec_blanc_p2_25'></div></div>
    <div class="case"><div class="contenue_case" id='avec_blanc_p2_26'></div></div>
  </div>

  <div class="secteur">
    <div class="case"><div class="contenue_case" id='avec_blanc_p2_27'></div></div>
    <div class="case"><div class="contenue_case" id='avec_blanc_p2_28'></div></div>
    <div class="case"><div class="contenue_case" id='avec_blanc_p2_29'></div></div>
    <div class="case"><div class="contenue_case" id='avec_blanc_p2_36'></div></div>
    <div class="case"><div class="contenue_case" id='avec_blanc_p2_37'></div></div>
    <div class="case"><div class="contenue_case" id='avec_blanc_p2_38'></div></div>
    <div class="case"><div class="contenue_case" id='avec_blanc_p2_45'></div></div>
    <div class="case"><div class="contenue_case" id='avec_blanc_p2_46'></div></div>
    <div class="case"><div class="contenue_case" id='avec_blanc_p2_47'></div></div>
  </div>
  <div class="secteur">
    <div class="case"><div class="contenue_case" id='avec_blanc_p2_30'></div></div>
    <div class="case"><div class="contenue_case" id='avec_blanc_p2_31'></div></div>
    <div class="case"><div class="contenue_case" id='avec_blanc_p2_32'></div></div>
    <div class="case"><div class="contenue_case" id='avec_blanc_p2_39'></div></div>
    <div class="case"><div class="contenue_case" id='avec_blanc_p2_40'></div></div>
    <div class="case"><div class="contenue_case" id='avec_blanc_p2_41'></div></div>
    <div class="case"><div class="contenue_case" id='avec_blanc_p2_48'></div></div>
    <div class="case"><div class="contenue_case" id='avec_blanc_p2_49'></div></div>
    <div class="case"><div class="contenue_case" id='avec_blanc_p2_50'></div></div>
  </div>
  <div class="secteur">
    <div class="case"><div class="contenue_case" id='avec_blanc_p2_33'></div></div>
    <div class="case"><div class="contenue_case" id='avec_blanc_p2_34'></div></div>
    <div class="case"><div class="contenue_case" id='avec_blanc_p2_35'></div></div>
    <div class="case"><div class="contenue_case" id='avec_blanc_p2_42'></div></div>
    <div class="case"><div class="contenue_case" id='avec_blanc_p2_43'></div></div>
    <div class="case"><div class="contenue_case" id='avec_blanc_p2_44'></div></div>
    <div class="case"><div class="contenue_case" id='avec_blanc_p2_51'></div></div>
    <div class="case"><div class="contenue_case" id='avec_blanc_p2_52'></div></div>
    <div class="case"><div class="contenue_case" id='avec_blanc_p2_53'></div></div>
  </div>

  <div class="secteur">
    <div class="case"><div class="contenue_case" id='avec_blanc_p2_54'></div></div>
    <div class="case"><div class="contenue_case" id='avec_blanc_p2_55'></div></div>
    <div class="case"><div class="contenue_case" id='avec_blanc_p2_56'></div></div>
    <div class="case"><div class="contenue_case" id='avec_blanc_p2_63'></div></div>
    <div class="case"><div class="contenue_case" id='avec_blanc_p2_64'></div></div>
    <div class="case"><div class="contenue_case" id='avec_blanc_p2_65'></div></div>
    <div class="case"><div class="contenue_case" id='avec_blanc_p2_72'></div></div>
    <div class="case"><div class="contenue_case" id='avec_blanc_p2_73'></div></div>
    <div class="case"><div class="contenue_case" id='avec_blanc_p2_74'></div></div>
  </div>
  <div class="secteur">
    <div class="case"><div class="contenue_case" id='avec_blanc_p2_57'></div></div>
    <div class="case"><div class="contenue_case" id='avec_blanc_p2_58'></div></div>
    <div class="case"><div class="contenue_case" id='avec_blanc_p2_59'></div></div>
    <div class="case"><div class="contenue_case" id='avec_blanc_p2_66'></div></div>
    <div class="case"><div class="contenue_case" id='avec_blanc_p2_67'></div></div>
    <div class="case"><div class="contenue_case" id='avec_blanc_p2_68'></div></div>
    <div class="case"><div class="contenue_case" id='avec_blanc_p2_75'></div></div>
    <div class="case"><div class="contenue_case" id='avec_blanc_p2_76'></div></div>
    <div class="case"><div class="contenue_case" id='avec_blanc_p2_77'></div></div>
  </div>
  <div class="secteur">
    <div class="case"><div class="contenue_case" id='avec_blanc_p2_60'></div></div>
    <div class="case"><div class="contenue_case" id='avec_blanc_p2_61'></div></div>
    <div class="case"><div class="contenue_case" id='avec_blanc_p2_62'></div></div>
    <div class="case"><div class="contenue_case" id='avec_blanc_p2_69'></div></div>
    <div class="case"><div class="contenue_case" id='avec_blanc_p2_70'></div></div>
    <div class="case"><div class="contenue_case" id='avec_blanc_p2_71'></div></div>
    <div class="case"><div class="contenue_case" id='avec_blanc_p2_78'></div></div>
    <div class="case"><div class="contenue_case" id='avec_blanc_p2_79'></div></div>
    <div class="case"><div class="contenue_case" id='avec_blanc_p2_80'></div></div>
  </div>
</div>



  
<script>
  document.addEventListener('DOMContentLoaded', function() {
    let case_courante = 0;//const arr = new Array(81).fill(0);
    let tableau_sudoku = new Array(81).fill(0);
    let tableau_sudoku_valeur_possible = new Array(81).fill(0);
    let tableau_sudoku_avec_case_vide;
    let tableau_sudoku_indice_solution;
    //console.log(tableau_sudoku_valeur_possible);
    tableau_sudoku_valeur_possible[case_courante] = [1,2,3,4,5,6,7,8,9];
    let interval_a_stop = setInterval(function(){
			//let tableau_temp = tableau_sudoku_valeur_possible[case_courante];
			//////VERIF A FAIRE
			let case_minimal_a_check = Math.floor(case_courante/9)*9;
			let case_maximal_a_check = case_minimal_a_check + 8;
//Vérification honrizontale
			let indice_a_enlever = tableau_sudoku_valeur_possible[case_courante].indexOf(tableau_sudoku[case_minimal_a_check]);/*case 1*/
			if(indice_a_enlever != -1){
				tableau_sudoku_valeur_possible[case_courante].splice(indice_a_enlever, 1)
			}

			indice_a_enlever = tableau_sudoku_valeur_possible[case_courante].indexOf(tableau_sudoku[case_minimal_a_check+1]);/*case 2*/
			if(indice_a_enlever != -1){
				tableau_sudoku_valeur_possible[case_courante].splice(indice_a_enlever, 1)
			}

			indice_a_enlever = tableau_sudoku_valeur_possible[case_courante].indexOf(tableau_sudoku[case_minimal_a_check+2]);/*case 3*/
			if(indice_a_enlever != -1){
				tableau_sudoku_valeur_possible[case_courante].splice(indice_a_enlever, 1)
			}

			indice_a_enlever = tableau_sudoku_valeur_possible[case_courante].indexOf(tableau_sudoku[case_minimal_a_check+3]);/*case 4*/
			if(indice_a_enlever != -1){
				tableau_sudoku_valeur_possible[case_courante].splice(indice_a_enlever, 1)
			}

			indice_a_enlever = tableau_sudoku_valeur_possible[case_courante].indexOf(tableau_sudoku[case_minimal_a_check+4]);/*case 5*/
			if(indice_a_enlever != -1){
				tableau_sudoku_valeur_possible[case_courante].splice(indice_a_enlever, 1)
			}

			indice_a_enlever = tableau_sudoku_valeur_possible[case_courante].indexOf(tableau_sudoku[case_minimal_a_check+5]);/*case 6*/
			if(indice_a_enlever != -1){
				tableau_sudoku_valeur_possible[case_courante].splice(indice_a_enlever, 1)
			}

			indice_a_enlever = tableau_sudoku_valeur_possible[case_courante].indexOf(tableau_sudoku[case_minimal_a_check+6]);/*case 7*/
			if(indice_a_enlever != -1){
				tableau_sudoku_valeur_possible[case_courante].splice(indice_a_enlever, 1)
			}

			indice_a_enlever = tableau_sudoku_valeur_possible[case_courante].indexOf(tableau_sudoku[case_minimal_a_check+7]);/*case 8*/
			if(indice_a_enlever != -1){
				tableau_sudoku_valeur_possible[case_courante].splice(indice_a_enlever, 1)
			}

			indice_a_enlever = tableau_sudoku_valeur_possible[case_courante].indexOf(tableau_sudoku[case_minimal_a_check+8]);/*case 9*/
			if(indice_a_enlever != -1){
				tableau_sudoku_valeur_possible[case_courante].splice(indice_a_enlever, 1)
			}
//Vérification vertical
			let decalage_colonne = case_courante % 9;

			indice_a_enlever = tableau_sudoku_valeur_possible[case_courante].indexOf(tableau_sudoku[decalage_colonne]);//case 1
			if(indice_a_enlever != -1){
				tableau_sudoku_valeur_possible[case_courante].splice(indice_a_enlever, 1)
			}

			indice_a_enlever = tableau_sudoku_valeur_possible[case_courante].indexOf(tableau_sudoku[decalage_colonne+9]);//case 2
			if(indice_a_enlever != -1){
				tableau_sudoku_valeur_possible[case_courante].splice(indice_a_enlever, 1)
			}

			indice_a_enlever = tableau_sudoku_valeur_possible[case_courante].indexOf(tableau_sudoku[decalage_colonne+18]);//case 3
			if(indice_a_enlever != -1){
				tableau_sudoku_valeur_possible[case_courante].splice(indice_a_enlever, 1)
			}

			indice_a_enlever = tableau_sudoku_valeur_possible[case_courante].indexOf(tableau_sudoku[decalage_colonne+27]);//case 4
			if(indice_a_enlever != -1){
				tableau_sudoku_valeur_possible[case_courante].splice(indice_a_enlever, 1)
			}

			indice_a_enlever = tableau_sudoku_valeur_possible[case_courante].indexOf(tableau_sudoku[decalage_colonne+36]);//case 5
			if(indice_a_enlever != -1){
				tableau_sudoku_valeur_possible[case_courante].splice(indice_a_enlever, 1)
			}

			indice_a_enlever = tableau_sudoku_valeur_possible[case_courante].indexOf(tableau_sudoku[decalage_colonne+45]);//case 6
			if(indice_a_enlever != -1){
				tableau_sudoku_valeur_possible[case_courante].splice(indice_a_enlever, 1)
			}

			indice_a_enlever = tableau_sudoku_valeur_possible[case_courante].indexOf(tableau_sudoku[decalage_colonne+54]);//case 7
			if(indice_a_enlever != -1){
				tableau_sudoku_valeur_possible[case_courante].splice(indice_a_enlever, 1)
			}

			indice_a_enlever = tableau_sudoku_valeur_possible[case_courante].indexOf(tableau_sudoku[decalage_colonne+63]);//case 8
			if(indice_a_enlever != -1){
				tableau_sudoku_valeur_possible[case_courante].splice(indice_a_enlever, 1)
			}

			indice_a_enlever = tableau_sudoku_valeur_possible[case_courante].indexOf(tableau_sudoku[decalage_colonne+72]);//case 9
			if(indice_a_enlever != -1){
				tableau_sudoku_valeur_possible[case_courante].splice(indice_a_enlever, 1)
			}

//Vérification blok
let colonne = case_courante%9;
let ligne = Math.floor(case_courante/9);

let blok_colonne = "";
let blok_ligne = "";
if(colonne >= 0 && colonne < 3){
	blok_colonne = 1;
}
if(colonne >= 3 && colonne < 6){
	blok_colonne = 2;
}
if(colonne >= 6 && colonne < 9){
	blok_colonne = 3;
}

if(ligne >= 0 && ligne < 3){
	blok_ligne = 1;
}
if(ligne >= 3 && ligne < 6){
	blok_ligne = 2;
}
if(ligne >= 6 && ligne < 9){
	blok_ligne = 3;
}

//verification par blok
if(blok_colonne == 1 && blok_ligne == 1){
			indice_a_enlever = tableau_sudoku_valeur_possible[case_courante].indexOf(tableau_sudoku[0]);	//case 1
			if(indice_a_enlever != -1){
				tableau_sudoku_valeur_possible[case_courante].splice(indice_a_enlever, 1)
			}

			indice_a_enlever = tableau_sudoku_valeur_possible[case_courante].indexOf(tableau_sudoku[1]);//case 2
			if(indice_a_enlever != -1){
				tableau_sudoku_valeur_possible[case_courante].splice(indice_a_enlever, 1)
			}

			indice_a_enlever = tableau_sudoku_valeur_possible[case_courante].indexOf(tableau_sudoku[2]);//case 3
			if(indice_a_enlever != -1){
				tableau_sudoku_valeur_possible[case_courante].splice(indice_a_enlever, 1)
			}

			indice_a_enlever = tableau_sudoku_valeur_possible[case_courante].indexOf(tableau_sudoku[9]);//case 4
			if(indice_a_enlever != -1){
				tableau_sudoku_valeur_possible[case_courante].splice(indice_a_enlever, 1)
			}

			indice_a_enlever = tableau_sudoku_valeur_possible[case_courante].indexOf(tableau_sudoku[10]);//case 5
			if(indice_a_enlever != -1){
				tableau_sudoku_valeur_possible[case_courante].splice(indice_a_enlever, 1)
			}

			indice_a_enlever = tableau_sudoku_valeur_possible[case_courante].indexOf(tableau_sudoku[11]);//case 6
			if(indice_a_enlever != -1){
				tableau_sudoku_valeur_possible[case_courante].splice(indice_a_enlever, 1)
			}

			indice_a_enlever = tableau_sudoku_valeur_possible[case_courante].indexOf(tableau_sudoku[18]);//case 7
			if(indice_a_enlever != -1){
				tableau_sudoku_valeur_possible[case_courante].splice(indice_a_enlever, 1)
			}

			indice_a_enlever = tableau_sudoku_valeur_possible[case_courante].indexOf(tableau_sudoku[19]);//case 8
			if(indice_a_enlever != -1){
				tableau_sudoku_valeur_possible[case_courante].splice(indice_a_enlever, 1)
			}

			indice_a_enlever = tableau_sudoku_valeur_possible[case_courante].indexOf(tableau_sudoku[20]);//case 9
			if(indice_a_enlever != -1){
				tableau_sudoku_valeur_possible[case_courante].splice(indice_a_enlever, 1)
			}
}

if(blok_colonne == 2 && blok_ligne == 1){

			indice_a_enlever = tableau_sudoku_valeur_possible[case_courante].indexOf(tableau_sudoku[3]);	//case 1
			if(indice_a_enlever != -1){
				tableau_sudoku_valeur_possible[case_courante].splice(indice_a_enlever, 1)
			}

			indice_a_enlever = tableau_sudoku_valeur_possible[case_courante].indexOf(tableau_sudoku[4]);//case 2
			if(indice_a_enlever != -1){
				tableau_sudoku_valeur_possible[case_courante].splice(indice_a_enlever, 1)
			}

			indice_a_enlever = tableau_sudoku_valeur_possible[case_courante].indexOf(tableau_sudoku[5]);//case 3
			if(indice_a_enlever != -1){
				tableau_sudoku_valeur_possible[case_courante].splice(indice_a_enlever, 1)
			}

			indice_a_enlever = tableau_sudoku_valeur_possible[case_courante].indexOf(tableau_sudoku[12]);//case 4
			if(indice_a_enlever != -1){
				tableau_sudoku_valeur_possible[case_courante].splice(indice_a_enlever, 1)
			}

			indice_a_enlever = tableau_sudoku_valeur_possible[case_courante].indexOf(tableau_sudoku[13]);//case 5
			if(indice_a_enlever != -1){
				tableau_sudoku_valeur_possible[case_courante].splice(indice_a_enlever, 1)
			}

			indice_a_enlever = tableau_sudoku_valeur_possible[case_courante].indexOf(tableau_sudoku[14]);//case 6
			if(indice_a_enlever != -1){
				tableau_sudoku_valeur_possible[case_courante].splice(indice_a_enlever, 1)
			}

			indice_a_enlever = tableau_sudoku_valeur_possible[case_courante].indexOf(tableau_sudoku[21]);//case 7
			if(indice_a_enlever != -1){
				tableau_sudoku_valeur_possible[case_courante].splice(indice_a_enlever, 1)
			}

			indice_a_enlever = tableau_sudoku_valeur_possible[case_courante].indexOf(tableau_sudoku[22]);//case 8
			if(indice_a_enlever != -1){
				tableau_sudoku_valeur_possible[case_courante].splice(indice_a_enlever, 1)
			}

			indice_a_enlever = tableau_sudoku_valeur_possible[case_courante].indexOf(tableau_sudoku[23]);//case 9
			if(indice_a_enlever != -1){
				tableau_sudoku_valeur_possible[case_courante].splice(indice_a_enlever, 1)
			}
}

if(blok_colonne == 3 && blok_ligne == 1){

			indice_a_enlever = tableau_sudoku_valeur_possible[case_courante].indexOf(tableau_sudoku[6]);	//case 1
			if(indice_a_enlever != -1){
				tableau_sudoku_valeur_possible[case_courante].splice(indice_a_enlever, 1)
			}

			indice_a_enlever = tableau_sudoku_valeur_possible[case_courante].indexOf(tableau_sudoku[7]);//case 2
			if(indice_a_enlever != -1){
				tableau_sudoku_valeur_possible[case_courante].splice(indice_a_enlever, 1)
			}

			indice_a_enlever = tableau_sudoku_valeur_possible[case_courante].indexOf(tableau_sudoku[8]);//case 3
			if(indice_a_enlever != -1){
				tableau_sudoku_valeur_possible[case_courante].splice(indice_a_enlever, 1)
			}

			indice_a_enlever = tableau_sudoku_valeur_possible[case_courante].indexOf(tableau_sudoku[15]);//case 4
			if(indice_a_enlever != -1){
				tableau_sudoku_valeur_possible[case_courante].splice(indice_a_enlever, 1)
			}

			indice_a_enlever = tableau_sudoku_valeur_possible[case_courante].indexOf(tableau_sudoku[16]);//case 5
			if(indice_a_enlever != -1){
				tableau_sudoku_valeur_possible[case_courante].splice(indice_a_enlever, 1)
			}

			indice_a_enlever = tableau_sudoku_valeur_possible[case_courante].indexOf(tableau_sudoku[17]);//case 6
			if(indice_a_enlever != -1){
				tableau_sudoku_valeur_possible[case_courante].splice(indice_a_enlever, 1)
			}

			indice_a_enlever = tableau_sudoku_valeur_possible[case_courante].indexOf(tableau_sudoku[24]);//case 7
			if(indice_a_enlever != -1){
				tableau_sudoku_valeur_possible[case_courante].splice(indice_a_enlever, 1)
			}

			indice_a_enlever = tableau_sudoku_valeur_possible[case_courante].indexOf(tableau_sudoku[25]);//case 8
			if(indice_a_enlever != -1){
				tableau_sudoku_valeur_possible[case_courante].splice(indice_a_enlever, 1)
			}

			indice_a_enlever = tableau_sudoku_valeur_possible[case_courante].indexOf(tableau_sudoku[26]);//case 9
			if(indice_a_enlever != -1){
				tableau_sudoku_valeur_possible[case_courante].splice(indice_a_enlever, 1)
			}
}

if(blok_colonne == 1 && blok_ligne == 2){
			indice_a_enlever = tableau_sudoku_valeur_possible[case_courante].indexOf(tableau_sudoku[27]);	//case 1
			if(indice_a_enlever != -1){
				tableau_sudoku_valeur_possible[case_courante].splice(indice_a_enlever, 1)
			}

			indice_a_enlever = tableau_sudoku_valeur_possible[case_courante].indexOf(tableau_sudoku[28]);//case 2
			if(indice_a_enlever != -1){
				tableau_sudoku_valeur_possible[case_courante].splice(indice_a_enlever, 1)
			}

			indice_a_enlever = tableau_sudoku_valeur_possible[case_courante].indexOf(tableau_sudoku[29]);//case 3
			if(indice_a_enlever != -1){
				tableau_sudoku_valeur_possible[case_courante].splice(indice_a_enlever, 1)
			}

			indice_a_enlever = tableau_sudoku_valeur_possible[case_courante].indexOf(tableau_sudoku[36]);//case 4
			if(indice_a_enlever != -1){
				tableau_sudoku_valeur_possible[case_courante].splice(indice_a_enlever, 1)
			}

			indice_a_enlever = tableau_sudoku_valeur_possible[case_courante].indexOf(tableau_sudoku[37]);//case 5
			if(indice_a_enlever != -1){
				tableau_sudoku_valeur_possible[case_courante].splice(indice_a_enlever, 1)
			}

			indice_a_enlever = tableau_sudoku_valeur_possible[case_courante].indexOf(tableau_sudoku[38]);//case 6
			if(indice_a_enlever != -1){
				tableau_sudoku_valeur_possible[case_courante].splice(indice_a_enlever, 1)
			}

			indice_a_enlever = tableau_sudoku_valeur_possible[case_courante].indexOf(tableau_sudoku[45]);//case 7
			if(indice_a_enlever != -1){
				tableau_sudoku_valeur_possible[case_courante].splice(indice_a_enlever, 1)
			}

			indice_a_enlever = tableau_sudoku_valeur_possible[case_courante].indexOf(tableau_sudoku[46]);//case 8
			if(indice_a_enlever != -1){
				tableau_sudoku_valeur_possible[case_courante].splice(indice_a_enlever, 1)
			}

			indice_a_enlever = tableau_sudoku_valeur_possible[case_courante].indexOf(tableau_sudoku[47]);//case 9
			if(indice_a_enlever != -1){
				tableau_sudoku_valeur_possible[case_courante].splice(indice_a_enlever, 1)
			}
}

if(blok_colonne == 2 && blok_ligne == 2){
	
			indice_a_enlever = tableau_sudoku_valeur_possible[case_courante].indexOf(tableau_sudoku[30]);//case 1
			if(indice_a_enlever != -1){
				tableau_sudoku_valeur_possible[case_courante].splice(indice_a_enlever, 1)
			}
			indice_a_enlever = tableau_sudoku_valeur_possible[case_courante].indexOf(tableau_sudoku[31]);//case 2
			if(indice_a_enlever != -1){
				tableau_sudoku_valeur_possible[case_courante].splice(indice_a_enlever, 1)
			}
			indice_a_enlever = tableau_sudoku_valeur_possible[case_courante].indexOf(tableau_sudoku[32]);//case 3
			if(indice_a_enlever != -1){
				tableau_sudoku_valeur_possible[case_courante].splice(indice_a_enlever, 1)
			}
			indice_a_enlever = tableau_sudoku_valeur_possible[case_courante].indexOf(tableau_sudoku[39]);//case 4
			if(indice_a_enlever != -1){
				tableau_sudoku_valeur_possible[case_courante].splice(indice_a_enlever, 1)
			}
			indice_a_enlever = tableau_sudoku_valeur_possible[case_courante].indexOf(tableau_sudoku[40]);//case 5
			if(indice_a_enlever != -1){
				tableau_sudoku_valeur_possible[case_courante].splice(indice_a_enlever, 1)
			}
			indice_a_enlever = tableau_sudoku_valeur_possible[case_courante].indexOf(tableau_sudoku[41]);//case 6
			if(indice_a_enlever != -1){
				tableau_sudoku_valeur_possible[case_courante].splice(indice_a_enlever, 1)
			}
			indice_a_enlever = tableau_sudoku_valeur_possible[case_courante].indexOf(tableau_sudoku[48]);//case 7
			if(indice_a_enlever != -1){
				tableau_sudoku_valeur_possible[case_courante].splice(indice_a_enlever, 1)
			}
			indice_a_enlever = tableau_sudoku_valeur_possible[case_courante].indexOf(tableau_sudoku[49]);//case 8
			if(indice_a_enlever != -1){
				tableau_sudoku_valeur_possible[case_courante].splice(indice_a_enlever, 1)
			}
			indice_a_enlever = tableau_sudoku_valeur_possible[case_courante].indexOf(tableau_sudoku[50]);//case 9
			if(indice_a_enlever != -1){
				tableau_sudoku_valeur_possible[case_courante].splice(indice_a_enlever, 1)
			}
}

if(blok_colonne == 3 && blok_ligne == 2){	
			indice_a_enlever = tableau_sudoku_valeur_possible[case_courante].indexOf(tableau_sudoku[33]);//case 1
			if(indice_a_enlever != -1){
				tableau_sudoku_valeur_possible[case_courante].splice(indice_a_enlever, 1)
			}
			indice_a_enlever = tableau_sudoku_valeur_possible[case_courante].indexOf(tableau_sudoku[34]);//case 2
			if(indice_a_enlever != -1){
				tableau_sudoku_valeur_possible[case_courante].splice(indice_a_enlever, 1)
			}
			indice_a_enlever = tableau_sudoku_valeur_possible[case_courante].indexOf(tableau_sudoku[35]);//case 3
			if(indice_a_enlever != -1){
				tableau_sudoku_valeur_possible[case_courante].splice(indice_a_enlever, 1)
			}
			indice_a_enlever = tableau_sudoku_valeur_possible[case_courante].indexOf(tableau_sudoku[42]);//case 4
			if(indice_a_enlever != -1){
				tableau_sudoku_valeur_possible[case_courante].splice(indice_a_enlever, 1)
			}
			indice_a_enlever = tableau_sudoku_valeur_possible[case_courante].indexOf(tableau_sudoku[43]);//case 5
			if(indice_a_enlever != -1){
				tableau_sudoku_valeur_possible[case_courante].splice(indice_a_enlever, 1)
			}
			indice_a_enlever = tableau_sudoku_valeur_possible[case_courante].indexOf(tableau_sudoku[44]);//case 6
			if(indice_a_enlever != -1){
				tableau_sudoku_valeur_possible[case_courante].splice(indice_a_enlever, 1)
			}
			indice_a_enlever = tableau_sudoku_valeur_possible[case_courante].indexOf(tableau_sudoku[51]);//case 7
			if(indice_a_enlever != -1){
				tableau_sudoku_valeur_possible[case_courante].splice(indice_a_enlever, 1)
			}
			indice_a_enlever = tableau_sudoku_valeur_possible[case_courante].indexOf(tableau_sudoku[52]);//case 8
			if(indice_a_enlever != -1){
				tableau_sudoku_valeur_possible[case_courante].splice(indice_a_enlever, 1)
			}
			indice_a_enlever = tableau_sudoku_valeur_possible[case_courante].indexOf(tableau_sudoku[53]);//case 9
			if(indice_a_enlever != -1){
				tableau_sudoku_valeur_possible[case_courante].splice(indice_a_enlever, 1)
			}
}

if(blok_colonne == 1 && blok_ligne == 3){
			indice_a_enlever = tableau_sudoku_valeur_possible[case_courante].indexOf(tableau_sudoku[54]);//case 1
			if(indice_a_enlever != -1){
				tableau_sudoku_valeur_possible[case_courante].splice(indice_a_enlever, 1)
			}
			indice_a_enlever = tableau_sudoku_valeur_possible[case_courante].indexOf(tableau_sudoku[55]);//case 2
			if(indice_a_enlever != -1){
				tableau_sudoku_valeur_possible[case_courante].splice(indice_a_enlever, 1)
			}
			indice_a_enlever = tableau_sudoku_valeur_possible[case_courante].indexOf(tableau_sudoku[56]);//case 3
			if(indice_a_enlever != -1){
				tableau_sudoku_valeur_possible[case_courante].splice(indice_a_enlever, 1)
			}
			indice_a_enlever = tableau_sudoku_valeur_possible[case_courante].indexOf(tableau_sudoku[63]);//case 4
			if(indice_a_enlever != -1){
				tableau_sudoku_valeur_possible[case_courante].splice(indice_a_enlever, 1)
			}
			indice_a_enlever = tableau_sudoku_valeur_possible[case_courante].indexOf(tableau_sudoku[64]);//case 5
			if(indice_a_enlever != -1){
				tableau_sudoku_valeur_possible[case_courante].splice(indice_a_enlever, 1)
			}
			indice_a_enlever = tableau_sudoku_valeur_possible[case_courante].indexOf(tableau_sudoku[65]);//case 6
			if(indice_a_enlever != -1){
				tableau_sudoku_valeur_possible[case_courante].splice(indice_a_enlever, 1)
			}
			indice_a_enlever = tableau_sudoku_valeur_possible[case_courante].indexOf(tableau_sudoku[72]);//case 7
			if(indice_a_enlever != -1){
				tableau_sudoku_valeur_possible[case_courante].splice(indice_a_enlever, 1)
			}
			indice_a_enlever = tableau_sudoku_valeur_possible[case_courante].indexOf(tableau_sudoku[73]);//case 8
			if(indice_a_enlever != -1){
				tableau_sudoku_valeur_possible[case_courante].splice(indice_a_enlever, 1)
			}
			indice_a_enlever = tableau_sudoku_valeur_possible[case_courante].indexOf(tableau_sudoku[74]);//case 9
			if(indice_a_enlever != -1){
				tableau_sudoku_valeur_possible[case_courante].splice(indice_a_enlever, 1)
			}
}

if(blok_colonne == 2 && blok_ligne == 3){
			indice_a_enlever = tableau_sudoku_valeur_possible[case_courante].indexOf(tableau_sudoku[57]);//case 1
			if(indice_a_enlever != -1){
				tableau_sudoku_valeur_possible[case_courante].splice(indice_a_enlever, 1)
			}
			indice_a_enlever = tableau_sudoku_valeur_possible[case_courante].indexOf(tableau_sudoku[58]);//case 2
			if(indice_a_enlever != -1){
				tableau_sudoku_valeur_possible[case_courante].splice(indice_a_enlever, 1)
			}
			indice_a_enlever = tableau_sudoku_valeur_possible[case_courante].indexOf(tableau_sudoku[59]);//case 3
			if(indice_a_enlever != -1){
				tableau_sudoku_valeur_possible[case_courante].splice(indice_a_enlever, 1)
			}
			indice_a_enlever = tableau_sudoku_valeur_possible[case_courante].indexOf(tableau_sudoku[66]);//case 4
			if(indice_a_enlever != -1){
				tableau_sudoku_valeur_possible[case_courante].splice(indice_a_enlever, 1)
			}
			indice_a_enlever = tableau_sudoku_valeur_possible[case_courante].indexOf(tableau_sudoku[67]);//case 5
			if(indice_a_enlever != -1){
				tableau_sudoku_valeur_possible[case_courante].splice(indice_a_enlever, 1)
			}
			indice_a_enlever = tableau_sudoku_valeur_possible[case_courante].indexOf(tableau_sudoku[68]);//case 6
			if(indice_a_enlever != -1){
				tableau_sudoku_valeur_possible[case_courante].splice(indice_a_enlever, 1)
			}
			indice_a_enlever = tableau_sudoku_valeur_possible[case_courante].indexOf(tableau_sudoku[75]);//case 7
			if(indice_a_enlever != -1){
				tableau_sudoku_valeur_possible[case_courante].splice(indice_a_enlever, 1)
			}
			indice_a_enlever = tableau_sudoku_valeur_possible[case_courante].indexOf(tableau_sudoku[76]);//case 8
			if(indice_a_enlever != -1){
				tableau_sudoku_valeur_possible[case_courante].splice(indice_a_enlever, 1)
			}
			indice_a_enlever = tableau_sudoku_valeur_possible[case_courante].indexOf(tableau_sudoku[77]);//case 9
			if(indice_a_enlever != -1){
				tableau_sudoku_valeur_possible[case_courante].splice(indice_a_enlever, 1)
			}
}

if(blok_colonne == 3 && blok_ligne == 3){
			indice_a_enlever = tableau_sudoku_valeur_possible[case_courante].indexOf(tableau_sudoku[60]);//case 1
			if(indice_a_enlever != -1){
				tableau_sudoku_valeur_possible[case_courante].splice(indice_a_enlever, 1)
			}
			indice_a_enlever = tableau_sudoku_valeur_possible[case_courante].indexOf(tableau_sudoku[61]);//case 2
			if(indice_a_enlever != -1){
				tableau_sudoku_valeur_possible[case_courante].splice(indice_a_enlever, 1)
			}
			indice_a_enlever = tableau_sudoku_valeur_possible[case_courante].indexOf(tableau_sudoku[62]);//case 3
			if(indice_a_enlever != -1){
				tableau_sudoku_valeur_possible[case_courante].splice(indice_a_enlever, 1)
			}
			indice_a_enlever = tableau_sudoku_valeur_possible[case_courante].indexOf(tableau_sudoku[69]);//case 4
			if(indice_a_enlever != -1){
				tableau_sudoku_valeur_possible[case_courante].splice(indice_a_enlever, 1)
			}
			indice_a_enlever = tableau_sudoku_valeur_possible[case_courante].indexOf(tableau_sudoku[70]);//case 5
			if(indice_a_enlever != -1){
				tableau_sudoku_valeur_possible[case_courante].splice(indice_a_enlever, 1)
			}
			indice_a_enlever = tableau_sudoku_valeur_possible[case_courante].indexOf(tableau_sudoku[71]);//case 6
			if(indice_a_enlever != -1){
				tableau_sudoku_valeur_possible[case_courante].splice(indice_a_enlever, 1)
			}
			indice_a_enlever = tableau_sudoku_valeur_possible[case_courante].indexOf(tableau_sudoku[78]);//case 7
			if(indice_a_enlever != -1){
				tableau_sudoku_valeur_possible[case_courante].splice(indice_a_enlever, 1)
			}
			indice_a_enlever = tableau_sudoku_valeur_possible[case_courante].indexOf(tableau_sudoku[79]);//case 8
			if(indice_a_enlever != -1){
				tableau_sudoku_valeur_possible[case_courante].splice(indice_a_enlever, 1)
			}
			indice_a_enlever = tableau_sudoku_valeur_possible[case_courante].indexOf(tableau_sudoku[80]);//case 9
			if(indice_a_enlever != -1){
				tableau_sudoku_valeur_possible[case_courante].splice(indice_a_enlever, 1)
			}
}

			//////FIN VERIF
			if(tableau_sudoku_valeur_possible[case_courante].length > 0){
				let chiffre = (Math.floor(Math.random() * Math.floor(tableau_sudoku_valeur_possible[case_courante].length)));
				
				tableau_sudoku_valeur_possible[case_courante].length
				document.getElementById(case_courante).innerHTML = tableau_sudoku_valeur_possible[case_courante][chiffre];
				tableau_sudoku[case_courante] = tableau_sudoku_valeur_possible[case_courante][chiffre];
				case_courante++;
				if(case_courante >= 81){
					clearInterval(interval_a_stop);
					console.log('FINIIIIIIIIIIIIIIIIIIII');
					etape_enlevage_de_case();
				}else{
					tableau_sudoku_valeur_possible[case_courante] = [1,2,3,4,5,6,7,8,9];
				}
			}
			else{
				case_courante--;
				indice_a_enlever = tableau_sudoku_valeur_possible[case_courante].indexOf(tableau_sudoku[case_courante]);
				if(indice_a_enlever != -1){
					tableau_sudoku_valeur_possible[case_courante].splice(indice_a_enlever, 1);
					tableau_sudoku[case_courante] = "";
					document.getElementById(case_courante).innerHTML = "";
				}
				else{
					console.log('BUUUUUUUUUUUUUUG');
					console.log('BUUUUUUUUUUUUUUG');
					console.log('BUUUUUUUUUUUUUUG');
					console.log('BUUUUUUUUUUUUUUG');
				}
			}

    }, 10);


function etape_enlevage_de_case(){
	console.log('je suis censé enlever des cases');
	tableau_sudoku_avec_case_vide = [ ... tableau_sudoku];
	console.log(tableau_sudoku);
	console.log(tableau_sudoku_avec_case_vide);

	let i = 0;
	while(i < 45){
		let case_a_vider = (Math.floor(Math.random() * 81));
		if(tableau_sudoku_avec_case_vide[case_a_vider] == ""){

		}
		else{
			tableau_sudoku_avec_case_vide[case_a_vider] = "";
			i++;	
		}
	}

	console.log(tableau_sudoku_avec_case_vide);

	i = 0;
	while(i<81){
		document.getElementById('avec_blanc_' + i).innerHTML = tableau_sudoku_avec_case_vide[i];
		i++;
	}
	resoudre_le_sudoku_en_X_etape();
}

function resoudre_le_sudoku_en_X_etape(){
	let sol_tableau_sudoku_valeur = [ ... tableau_sudoku_avec_case_vide];
	let sol_tableau_sudoku_editable = new Array(81).fill(0);
	let sol_tableau_sudoku_indice_maitre = new Array(81).fill(0);
	let i = 0;
	while(i < 81){
		if(sol_tableau_sudoku_valeur[i] == ""){
			//sol_tableau_sudoku_editable[i] = 1;
			sol_tableau_sudoku_indice_maitre[i] = valeur_possible(sol_tableau_sudoku_valeur,i);
		}
		i++;
	}
	console.log("Hummm ?#1");
	console.log(sol_tableau_sudoku_indice_maitre);
/////////////PASSE UNE//////////////////////
	i = 0;
	while(i < 81){
		if(Array.isArray(sol_tableau_sudoku_indice_maitre[i])){
			if(sol_tableau_sudoku_indice_maitre[i].length == 1){
				sol_tableau_sudoku_valeur[i] = sol_tableau_sudoku_indice_maitre[i][0];
				sol_tableau_sudoku_indice_maitre[i] = 0;
			}
		}
		i++;
	}

	i = 0;
	while(i<81){
		document.getElementById('avec_blanc_p1_' + i).innerHTML = sol_tableau_sudoku_valeur[i];
		i++;
	}
/////////////PASSE DEUX//////////////////////
let ii = 0;
while(ii<81){
	i = 0;
	while(i < 81){
		if(sol_tableau_sudoku_valeur[i] == ""){
			sol_tableau_sudoku_indice_maitre[i] = valeur_possible(sol_tableau_sudoku_valeur,i);
		}
		else{
			sol_tableau_sudoku_indice_maitre[i] = 0;
		}
		i++;
	}


	i = 0;
	while(i < 81){
		if(Array.isArray(sol_tableau_sudoku_indice_maitre[i])){
			if(sol_tableau_sudoku_indice_maitre[i].length == 1){
				sol_tableau_sudoku_valeur[i] = sol_tableau_sudoku_indice_maitre[i][0];
			}
		}
		i++;
	}
	ii++;
}

	i = 0;
	while(i<81){
		document.getElementById('avec_blanc_p2_' + i).innerHTML = sol_tableau_sudoku_valeur[i];
		i++;
	}

	//resolution_etape_1();
	//resolution_etape_2();
}

function valeur_possible(sol_tableau_sudoku_valeur,i){
	let indice_a_enlever;
	let liste_valeur_possible = [1,2,3,4,5,6,7,8,9];

	let case_minimal_a_check = Math.floor(i/9)*9;
	let case_maximal_a_check = case_minimal_a_check + 8;
	//verification honrizontale
			indice_a_enlever = liste_valeur_possible.indexOf(sol_tableau_sudoku_valeur[case_minimal_a_check]);/*case 1*/
			if(indice_a_enlever != -1){
				liste_valeur_possible.splice(indice_a_enlever, 1);
			}
			indice_a_enlever = liste_valeur_possible.indexOf(sol_tableau_sudoku_valeur[case_minimal_a_check+1]);/*case 2*/
			if(indice_a_enlever != -1){
				liste_valeur_possible.splice(indice_a_enlever, 1);
			}
			indice_a_enlever = liste_valeur_possible.indexOf(sol_tableau_sudoku_valeur[case_minimal_a_check+2]);/*case 3*/
			if(indice_a_enlever != -1){
				liste_valeur_possible.splice(indice_a_enlever, 1);
			}
			indice_a_enlever = liste_valeur_possible.indexOf(sol_tableau_sudoku_valeur[case_minimal_a_check+3]);/*case 4*/
			if(indice_a_enlever != -1){
				liste_valeur_possible.splice(indice_a_enlever, 1);
			}
			indice_a_enlever = liste_valeur_possible.indexOf(sol_tableau_sudoku_valeur[case_minimal_a_check+4]);/*case 5*/
			if(indice_a_enlever != -1){
				liste_valeur_possible.splice(indice_a_enlever, 1);
			}
			indice_a_enlever = liste_valeur_possible.indexOf(sol_tableau_sudoku_valeur[case_minimal_a_check+5]);/*case 6*/
			if(indice_a_enlever != -1){
				liste_valeur_possible.splice(indice_a_enlever, 1);
			}
			indice_a_enlever = liste_valeur_possible.indexOf(sol_tableau_sudoku_valeur[case_minimal_a_check+6]);/*case 7*/
			if(indice_a_enlever != -1){
				liste_valeur_possible.splice(indice_a_enlever, 1);
			}
			indice_a_enlever = liste_valeur_possible.indexOf(sol_tableau_sudoku_valeur[case_minimal_a_check+7]);/*case 8*/
			if(indice_a_enlever != -1){
				liste_valeur_possible.splice(indice_a_enlever, 1);
			}
			indice_a_enlever = liste_valeur_possible.indexOf(sol_tableau_sudoku_valeur[case_minimal_a_check+8]);/*case 9*/
			if(indice_a_enlever != -1){
				liste_valeur_possible.splice(indice_a_enlever, 1);
			}
	//Fin vérification horizontale

	//verification vertical
			let decalage_colonne = i % 9;

			indice_a_enlever = liste_valeur_possible.indexOf(sol_tableau_sudoku_valeur[decalage_colonne]);//case 1
			if(indice_a_enlever != -1){
				liste_valeur_possible.splice(indice_a_enlever, 1)
			}
			indice_a_enlever = liste_valeur_possible.indexOf(sol_tableau_sudoku_valeur[decalage_colonne+9]);//case 2
			if(indice_a_enlever != -1){
				liste_valeur_possible.splice(indice_a_enlever, 1)
			}
			indice_a_enlever = liste_valeur_possible.indexOf(sol_tableau_sudoku_valeur[decalage_colonne+18]);//case 3
			if(indice_a_enlever != -1){
				liste_valeur_possible.splice(indice_a_enlever, 1)
			}
			indice_a_enlever = liste_valeur_possible.indexOf(sol_tableau_sudoku_valeur[decalage_colonne+27]);//case 4
			if(indice_a_enlever != -1){
				liste_valeur_possible.splice(indice_a_enlever, 1)
			}
			indice_a_enlever = liste_valeur_possible.indexOf(sol_tableau_sudoku_valeur[decalage_colonne+36]);//case 5
			if(indice_a_enlever != -1){
				liste_valeur_possible.splice(indice_a_enlever, 1)
			}
			indice_a_enlever = liste_valeur_possible.indexOf(sol_tableau_sudoku_valeur[decalage_colonne+45]);//case 6
			if(indice_a_enlever != -1){
				liste_valeur_possible.splice(indice_a_enlever, 1)
			}
			indice_a_enlever = liste_valeur_possible.indexOf(sol_tableau_sudoku_valeur[decalage_colonne+54]);//case 7
			if(indice_a_enlever != -1){
				liste_valeur_possible.splice(indice_a_enlever, 1)
			}
			indice_a_enlever = liste_valeur_possible.indexOf(sol_tableau_sudoku_valeur[decalage_colonne+63]);//case 8
			if(indice_a_enlever != -1){
				liste_valeur_possible.splice(indice_a_enlever, 1)
			}
			indice_a_enlever = liste_valeur_possible.indexOf(sol_tableau_sudoku_valeur[decalage_colonne+72]);//case 9
			if(indice_a_enlever != -1){
				liste_valeur_possible.splice(indice_a_enlever, 1)
			}
	//fin verification vertical

//Vérification blok
	let colonne = i%9;
	let ligne = Math.floor(i/9);

	let blok_colonne = "";
	let blok_ligne = "";
	if(colonne >= 0 && colonne < 3){
		blok_colonne = 1;
	}
	if(colonne >= 3 && colonne < 6){
		blok_colonne = 2;
	}
	if(colonne >= 6 && colonne < 9){
		blok_colonne = 3;
	}

	if(ligne >= 0 && ligne < 3){
		blok_ligne = 1;
	}
	if(ligne >= 3 && ligne < 6){
		blok_ligne = 2;
	}
	if(ligne >= 6 && ligne < 9){
		blok_ligne = 3;
	}

//verification par blok
if(blok_colonne == 1 && blok_ligne == 1){

			indice_a_enlever = liste_valeur_possible.indexOf(sol_tableau_sudoku_valeur[0]);	//case 1
			if(indice_a_enlever != -1){
				liste_valeur_possible.splice(indice_a_enlever, 1)
			}

			indice_a_enlever = liste_valeur_possible.indexOf(sol_tableau_sudoku_valeur[1]);//case 2
			if(indice_a_enlever != -1){
				liste_valeur_possible.splice(indice_a_enlever, 1)
			}

			indice_a_enlever = liste_valeur_possible.indexOf(sol_tableau_sudoku_valeur[2]);//case 3
			if(indice_a_enlever != -1){
				liste_valeur_possible.splice(indice_a_enlever, 1)
			}

			indice_a_enlever = liste_valeur_possible.indexOf(sol_tableau_sudoku_valeur[9]);//case 4
			if(indice_a_enlever != -1){
				liste_valeur_possible.splice(indice_a_enlever, 1)
			}

			indice_a_enlever = liste_valeur_possible.indexOf(sol_tableau_sudoku_valeur[10]);//case 5
			if(indice_a_enlever != -1){
				liste_valeur_possible.splice(indice_a_enlever, 1)
			}

			indice_a_enlever = liste_valeur_possible.indexOf(sol_tableau_sudoku_valeur[11]);//case 6
			if(indice_a_enlever != -1){
				liste_valeur_possible.splice(indice_a_enlever, 1)
			}

			indice_a_enlever = liste_valeur_possible.indexOf(sol_tableau_sudoku_valeur[18]);//case 7
			if(indice_a_enlever != -1){
				liste_valeur_possible.splice(indice_a_enlever, 1)
			}

			indice_a_enlever = liste_valeur_possible.indexOf(sol_tableau_sudoku_valeur[19]);//case 8
			if(indice_a_enlever != -1){
				liste_valeur_possible.splice(indice_a_enlever, 1)
			}

			indice_a_enlever = liste_valeur_possible.indexOf(sol_tableau_sudoku_valeur[20]);//case 9
			if(indice_a_enlever != -1){
				liste_valeur_possible.splice(indice_a_enlever, 1)
			}
}
else if(blok_colonne == 2 && blok_ligne == 1){

			indice_a_enlever = liste_valeur_possible.indexOf(sol_tableau_sudoku_valeur[3]);//case 1
			if(indice_a_enlever != -1){
				liste_valeur_possible.splice(indice_a_enlever, 1)
			}
			indice_a_enlever = liste_valeur_possible.indexOf(sol_tableau_sudoku_valeur[4]);//case 2
			if(indice_a_enlever != -1){
				liste_valeur_possible.splice(indice_a_enlever, 1)
			}
			indice_a_enlever = liste_valeur_possible.indexOf(sol_tableau_sudoku_valeur[5]);//case 3
			if(indice_a_enlever != -1){
				liste_valeur_possible.splice(indice_a_enlever, 1)
			}
			indice_a_enlever = liste_valeur_possible.indexOf(sol_tableau_sudoku_valeur[12]);//case 4
			if(indice_a_enlever != -1){
				liste_valeur_possible.splice(indice_a_enlever, 1)
			}
			indice_a_enlever = liste_valeur_possible.indexOf(sol_tableau_sudoku_valeur[13]);//case 5
			if(indice_a_enlever != -1){
				liste_valeur_possible.splice(indice_a_enlever, 1)
			}
			indice_a_enlever = liste_valeur_possible.indexOf(sol_tableau_sudoku_valeur[14]);//case 6
			if(indice_a_enlever != -1){
				liste_valeur_possible.splice(indice_a_enlever, 1)
			}
			indice_a_enlever = liste_valeur_possible.indexOf(sol_tableau_sudoku_valeur[21]);//case 7
			if(indice_a_enlever != -1){
				liste_valeur_possible.splice(indice_a_enlever, 1)
			}
			indice_a_enlever = liste_valeur_possible.indexOf(sol_tableau_sudoku_valeur[22]);//case 8
			if(indice_a_enlever != -1){
				liste_valeur_possible.splice(indice_a_enlever, 1)
			}
			indice_a_enlever = liste_valeur_possible.indexOf(sol_tableau_sudoku_valeur[23]);//case 9
			if(indice_a_enlever != -1){
				liste_valeur_possible.splice(indice_a_enlever, 1)
			}
}
else if(blok_colonne == 3 && blok_ligne == 1){
			indice_a_enlever = liste_valeur_possible.indexOf(sol_tableau_sudoku_valeur[6]);//case 1
			if(indice_a_enlever != -1){
				liste_valeur_possible.splice(indice_a_enlever, 1)
			}
			indice_a_enlever = liste_valeur_possible.indexOf(sol_tableau_sudoku_valeur[7]);//case 2
			if(indice_a_enlever != -1){
				liste_valeur_possible.splice(indice_a_enlever, 1)
			}
			indice_a_enlever = liste_valeur_possible.indexOf(sol_tableau_sudoku_valeur[8]);//case 3
			if(indice_a_enlever != -1){
				liste_valeur_possible.splice(indice_a_enlever, 1)
			}
			indice_a_enlever = liste_valeur_possible.indexOf(sol_tableau_sudoku_valeur[15]);//case 4
			if(indice_a_enlever != -1){
				liste_valeur_possible.splice(indice_a_enlever, 1)
			}
			indice_a_enlever = liste_valeur_possible.indexOf(sol_tableau_sudoku_valeur[16]);//case 5
			if(indice_a_enlever != -1){
				liste_valeur_possible.splice(indice_a_enlever, 1)
			}
			indice_a_enlever = liste_valeur_possible.indexOf(sol_tableau_sudoku_valeur[17]);//case 6
			if(indice_a_enlever != -1){
				liste_valeur_possible.splice(indice_a_enlever, 1)
			}
			indice_a_enlever = liste_valeur_possible.indexOf(sol_tableau_sudoku_valeur[24]);//case 7
			if(indice_a_enlever != -1){
				liste_valeur_possible.splice(indice_a_enlever, 1)
			}
			indice_a_enlever = liste_valeur_possible.indexOf(sol_tableau_sudoku_valeur[25]);//case 8
			if(indice_a_enlever != -1){
				liste_valeur_possible.splice(indice_a_enlever, 1)
			}
			indice_a_enlever = liste_valeur_possible.indexOf(sol_tableau_sudoku_valeur[26]);//case 9
			if(indice_a_enlever != -1){
				liste_valeur_possible.splice(indice_a_enlever, 1)
			}
}
else if(blok_colonne == 1 && blok_ligne == 2){
			indice_a_enlever = liste_valeur_possible.indexOf(sol_tableau_sudoku_valeur[27]);//case 1
			if(indice_a_enlever != -1){
				liste_valeur_possible.splice(indice_a_enlever, 1)
			}
			indice_a_enlever = liste_valeur_possible.indexOf(sol_tableau_sudoku_valeur[28]);//case 2
			if(indice_a_enlever != -1){
				liste_valeur_possible.splice(indice_a_enlever, 1)
			}
			indice_a_enlever = liste_valeur_possible.indexOf(sol_tableau_sudoku_valeur[29]);//case 3
			if(indice_a_enlever != -1){
				liste_valeur_possible.splice(indice_a_enlever, 1)
			}
			indice_a_enlever = liste_valeur_possible.indexOf(sol_tableau_sudoku_valeur[36]);//case 4
			if(indice_a_enlever != -1){
				liste_valeur_possible.splice(indice_a_enlever, 1)
			}
			indice_a_enlever = liste_valeur_possible.indexOf(sol_tableau_sudoku_valeur[37]);//case 5
			if(indice_a_enlever != -1){
				liste_valeur_possible.splice(indice_a_enlever, 1)
			}
			indice_a_enlever = liste_valeur_possible.indexOf(sol_tableau_sudoku_valeur[38]);//case 6
			if(indice_a_enlever != -1){
				liste_valeur_possible.splice(indice_a_enlever, 1)
			}
			indice_a_enlever = liste_valeur_possible.indexOf(sol_tableau_sudoku_valeur[45]);//case 7
			if(indice_a_enlever != -1){
				liste_valeur_possible.splice(indice_a_enlever, 1)
			}
			indice_a_enlever = liste_valeur_possible.indexOf(sol_tableau_sudoku_valeur[46]);//case 8
			if(indice_a_enlever != -1){
				liste_valeur_possible.splice(indice_a_enlever, 1)
			}
			indice_a_enlever = liste_valeur_possible.indexOf(sol_tableau_sudoku_valeur[47]);//case 9
			if(indice_a_enlever != -1){
				liste_valeur_possible.splice(indice_a_enlever, 1)
			}
}
else if(blok_colonne == 2 && blok_ligne == 2){
			indice_a_enlever = liste_valeur_possible.indexOf(sol_tableau_sudoku_valeur[30]);//case 1
			if(indice_a_enlever != -1){
				liste_valeur_possible.splice(indice_a_enlever, 1)
			}
			indice_a_enlever = liste_valeur_possible.indexOf(sol_tableau_sudoku_valeur[31]);//case 2
			if(indice_a_enlever != -1){
				liste_valeur_possible.splice(indice_a_enlever, 1)
			}
			indice_a_enlever = liste_valeur_possible.indexOf(sol_tableau_sudoku_valeur[32]);//case 3
			if(indice_a_enlever != -1){
				liste_valeur_possible.splice(indice_a_enlever, 1)
			}
			indice_a_enlever = liste_valeur_possible.indexOf(sol_tableau_sudoku_valeur[39]);//case 4
			if(indice_a_enlever != -1){
				liste_valeur_possible.splice(indice_a_enlever, 1)
			}
			indice_a_enlever = liste_valeur_possible.indexOf(sol_tableau_sudoku_valeur[40]);//case 5
			if(indice_a_enlever != -1){
				liste_valeur_possible.splice(indice_a_enlever, 1)
			}
			indice_a_enlever = liste_valeur_possible.indexOf(sol_tableau_sudoku_valeur[41]);//case 6
			if(indice_a_enlever != -1){
				liste_valeur_possible.splice(indice_a_enlever, 1)
			}
			indice_a_enlever = liste_valeur_possible.indexOf(sol_tableau_sudoku_valeur[48]);//case 7
			if(indice_a_enlever != -1){
				liste_valeur_possible.splice(indice_a_enlever, 1)
			}
			indice_a_enlever = liste_valeur_possible.indexOf(sol_tableau_sudoku_valeur[49]);//case 8
			if(indice_a_enlever != -1){
				liste_valeur_possible.splice(indice_a_enlever, 1)
			}
			indice_a_enlever = liste_valeur_possible.indexOf(sol_tableau_sudoku_valeur[50]);//case 9
			if(indice_a_enlever != -1){
				liste_valeur_possible.splice(indice_a_enlever, 1)
			}
}
else if(blok_colonne == 3 && blok_ligne == 2){
			indice_a_enlever = liste_valeur_possible.indexOf(sol_tableau_sudoku_valeur[33]);//case 1
			if(indice_a_enlever != -1){
				liste_valeur_possible.splice(indice_a_enlever, 1)
			}
			indice_a_enlever = liste_valeur_possible.indexOf(sol_tableau_sudoku_valeur[34]);//case 2
			if(indice_a_enlever != -1){
				liste_valeur_possible.splice(indice_a_enlever, 1)
			}
			indice_a_enlever = liste_valeur_possible.indexOf(sol_tableau_sudoku_valeur[35]);//case 3
			if(indice_a_enlever != -1){
				liste_valeur_possible.splice(indice_a_enlever, 1)
			}
			indice_a_enlever = liste_valeur_possible.indexOf(sol_tableau_sudoku_valeur[42]);//case 4
			if(indice_a_enlever != -1){
				liste_valeur_possible.splice(indice_a_enlever, 1)
			}
			indice_a_enlever = liste_valeur_possible.indexOf(sol_tableau_sudoku_valeur[43]);//case 5
			if(indice_a_enlever != -1){
				liste_valeur_possible.splice(indice_a_enlever, 1)
			}
			indice_a_enlever = liste_valeur_possible.indexOf(sol_tableau_sudoku_valeur[44]);//case 6
			if(indice_a_enlever != -1){
				liste_valeur_possible.splice(indice_a_enlever, 1)
			}
			indice_a_enlever = liste_valeur_possible.indexOf(sol_tableau_sudoku_valeur[51]);//case 7
			if(indice_a_enlever != -1){
				liste_valeur_possible.splice(indice_a_enlever, 1)
			}
			indice_a_enlever = liste_valeur_possible.indexOf(sol_tableau_sudoku_valeur[52]);//case 8
			if(indice_a_enlever != -1){
				liste_valeur_possible.splice(indice_a_enlever, 1)
			}
			indice_a_enlever = liste_valeur_possible.indexOf(sol_tableau_sudoku_valeur[53]);//case 9
			if(indice_a_enlever != -1){
				liste_valeur_possible.splice(indice_a_enlever, 1)
			}
}
else if(blok_colonne == 1 && blok_ligne == 3){
			indice_a_enlever = liste_valeur_possible.indexOf(sol_tableau_sudoku_valeur[54]);//case 1
			if(indice_a_enlever != -1){
				liste_valeur_possible.splice(indice_a_enlever, 1)
			}
			indice_a_enlever = liste_valeur_possible.indexOf(sol_tableau_sudoku_valeur[55]);//case 2
			if(indice_a_enlever != -1){
				liste_valeur_possible.splice(indice_a_enlever, 1)
			}
			indice_a_enlever = liste_valeur_possible.indexOf(sol_tableau_sudoku_valeur[56]);//case 3
			if(indice_a_enlever != -1){
				liste_valeur_possible.splice(indice_a_enlever, 1)
			}
			indice_a_enlever = liste_valeur_possible.indexOf(sol_tableau_sudoku_valeur[63]);//case 4
			if(indice_a_enlever != -1){
				liste_valeur_possible.splice(indice_a_enlever, 1)
			}
			indice_a_enlever = liste_valeur_possible.indexOf(sol_tableau_sudoku_valeur[64]);//case 5
			if(indice_a_enlever != -1){
				liste_valeur_possible.splice(indice_a_enlever, 1)
			}
			indice_a_enlever = liste_valeur_possible.indexOf(sol_tableau_sudoku_valeur[65]);//case 6
			if(indice_a_enlever != -1){
				liste_valeur_possible.splice(indice_a_enlever, 1)
			}
			indice_a_enlever = liste_valeur_possible.indexOf(sol_tableau_sudoku_valeur[72]);//case 7
			if(indice_a_enlever != -1){
				liste_valeur_possible.splice(indice_a_enlever, 1)
			}
			indice_a_enlever = liste_valeur_possible.indexOf(sol_tableau_sudoku_valeur[73]);//case 8
			if(indice_a_enlever != -1){
				liste_valeur_possible.splice(indice_a_enlever, 1)
			}
			indice_a_enlever = liste_valeur_possible.indexOf(sol_tableau_sudoku_valeur[74]);//case 9
			if(indice_a_enlever != -1){
				liste_valeur_possible.splice(indice_a_enlever, 1)
			}
}
else if(blok_colonne == 2 && blok_ligne == 3){
			indice_a_enlever = liste_valeur_possible.indexOf(sol_tableau_sudoku_valeur[57]);//case 1
			if(indice_a_enlever != -1){
				liste_valeur_possible.splice(indice_a_enlever, 1)
			}
			indice_a_enlever = liste_valeur_possible.indexOf(sol_tableau_sudoku_valeur[58]);//case 2
			if(indice_a_enlever != -1){
				liste_valeur_possible.splice(indice_a_enlever, 1)
			}
			indice_a_enlever = liste_valeur_possible.indexOf(sol_tableau_sudoku_valeur[59]);//case 3
			if(indice_a_enlever != -1){
				liste_valeur_possible.splice(indice_a_enlever, 1)
			}
			indice_a_enlever = liste_valeur_possible.indexOf(sol_tableau_sudoku_valeur[66]);//case 4
			if(indice_a_enlever != -1){
				liste_valeur_possible.splice(indice_a_enlever, 1)
			}
			indice_a_enlever = liste_valeur_possible.indexOf(sol_tableau_sudoku_valeur[67]);//case 5
			if(indice_a_enlever != -1){
				liste_valeur_possible.splice(indice_a_enlever, 1)
			}
			indice_a_enlever = liste_valeur_possible.indexOf(sol_tableau_sudoku_valeur[68]);//case 6
			if(indice_a_enlever != -1){
				liste_valeur_possible.splice(indice_a_enlever, 1)
			}
			indice_a_enlever = liste_valeur_possible.indexOf(sol_tableau_sudoku_valeur[75]);//case 7
			if(indice_a_enlever != -1){
				liste_valeur_possible.splice(indice_a_enlever, 1)
			}
			indice_a_enlever = liste_valeur_possible.indexOf(sol_tableau_sudoku_valeur[76]);//case 8
			if(indice_a_enlever != -1){
				liste_valeur_possible.splice(indice_a_enlever, 1)
			}
			indice_a_enlever = liste_valeur_possible.indexOf(sol_tableau_sudoku_valeur[77]);//case 9
			if(indice_a_enlever != -1){
				liste_valeur_possible.splice(indice_a_enlever, 1)
			}
}
else if(blok_colonne == 3 && blok_ligne == 3){
			indice_a_enlever = liste_valeur_possible.indexOf(sol_tableau_sudoku_valeur[60]);//case 1
			if(indice_a_enlever != -1){
				liste_valeur_possible.splice(indice_a_enlever, 1)
			}
			indice_a_enlever = liste_valeur_possible.indexOf(sol_tableau_sudoku_valeur[61]);//case 2
			if(indice_a_enlever != -1){
				liste_valeur_possible.splice(indice_a_enlever, 1)
			}
			indice_a_enlever = liste_valeur_possible.indexOf(sol_tableau_sudoku_valeur[62]);//case 3
			if(indice_a_enlever != -1){
				liste_valeur_possible.splice(indice_a_enlever, 1)
			}
			indice_a_enlever = liste_valeur_possible.indexOf(sol_tableau_sudoku_valeur[69]);//case 4
			if(indice_a_enlever != -1){
				liste_valeur_possible.splice(indice_a_enlever, 1)
			}
			indice_a_enlever = liste_valeur_possible.indexOf(sol_tableau_sudoku_valeur[70]);//case 5
			if(indice_a_enlever != -1){
				liste_valeur_possible.splice(indice_a_enlever, 1)
			}
			indice_a_enlever = liste_valeur_possible.indexOf(sol_tableau_sudoku_valeur[71]);//case 6
			if(indice_a_enlever != -1){
				liste_valeur_possible.splice(indice_a_enlever, 1)
			}
			indice_a_enlever = liste_valeur_possible.indexOf(sol_tableau_sudoku_valeur[78]);//case 7
			if(indice_a_enlever != -1){
				liste_valeur_possible.splice(indice_a_enlever, 1)
			}
			indice_a_enlever = liste_valeur_possible.indexOf(sol_tableau_sudoku_valeur[79]);//case 8
			if(indice_a_enlever != -1){
				liste_valeur_possible.splice(indice_a_enlever, 1)
			}
			indice_a_enlever = liste_valeur_possible.indexOf(sol_tableau_sudoku_valeur[80]);//case 9
			if(indice_a_enlever != -1){
				liste_valeur_possible.splice(indice_a_enlever, 1)
			}
}
else{
}

	return liste_valeur_possible;
}

function resolution_etape_1(){
	/*tableau_sudoku_indice_solution = [ ... tableau_sudoku_avec_case_vide];

	let i = 0;
	while(i < tableau_sudoku_indice_solution.length){
		if(tableau_sudoku_indice_solution[i] == ""){
			tableau_sudoku_indice_solution[i] = [1,2,3,4,5,6,7,8,9];
		}
		i++;
	}

	console.log('fin étape 1');*/
	//console.log(tableau_sudoku_indice_solution);
}

function resolution_etape_2(){
	/*let i = 0;
	while(i < tableau_sudoku_indice_solution.length){
		if(Array.isArray(tableau_sudoku_indice_solution[i])){
			///verification  
		}
		i++;
	}*/
}

function verification_ligne($grille_a_check,indice_a_check){
	return true;
	return false;
}


  });
</script>

</body>
</html>